.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}
button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}
button:hover {
  cursor: pointer;
}
.Contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.Contact {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}
.Contact h3{
  margin: 10px;
}
